<div class="container-fluid">
    <!--<div kendo-grid k-data-source="users.content" k-selectable="'row'"-->
    <!--k-columns='[{"field": "firstName", "title": "First Name"}, {"field": "lastName", "title": "Last Name"}]'>-->
    <!--</div>-->

    <div class="row-fluid">
        <div class="span2">
            There are "{{users.content.length}}" users in moneyTrak<br>
            Search: <input ng-model="query" placeholder="filter users">
        </div>
        <div class="span10">
            <ul>
                <li ng-repeat="user in users.content">
                    <p>{{user.firstName}} {{user.lastName}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>


