<form id="accountAddForm" name="accountAddForm" role="form" autocomplete="off" ng-submit="addAccount()">
    <div class="form-group"
         ng-class="{ 'has-error has-feedback': accountAddForm.txtName.$invalid && accountAddForm.txtName.$dirty,
          'has-success has-feedback' : accountAddForm.txtName.$valid && accountAddForm.txtName.$dirty }">
        <label id="lblAccountName" class="control-label" for="txtAccountName">Account name:</label>
        <input id="txtAccountName" name="txtAccountName" class="form-control" type="text" required
               ng-model="accountController.account.accountName"/>
        <span ng-class="{'glyphicon glyphicon-remove form-control-feedback': accountAddForm.txtName.$invalid && accountAddForm.txtName.$dirty,
        'glyphicon glyphicon-ok form-control-feedback' : accountAddForm.txtName.$valid && accountAddForm.txtName.$dirty}"></span>
    </div>

    <div class="btn-group">
		<span>
			<button ng-disabled="accountAddForm.$invalid" id="btnSave" name="btnSave"
                    ng-click="accountController.addAccount()"
                    class="btn btn-success" type="submit">Save
            </button>
    		<button id="btnCancel" name="btnCancel" ng-click="accountController.cancel()" class="btn btn-danger">
                Cancel
            </button>
		</span>
    </div>
</form>