<form id="userForm" name="userForm" role="form" autocomplete="off">
    <div class="form-group">
        <label id="lblFirstName" class="control-label" for="txtUserFirstName">First name:</label>
        <input id="txtUserFirstName" name="txtUserFirstName" class="form-control" type="text"
               ng-model="user.firstName"/>
    </div>
    <div class="form-group">
        <label id="lblLastName" class="control-label" for="txtUserLastName">Last name:</label>
        <input id="txtUserLastName" name="txtUserLastName" class="form-control" type="text"
               ng-model="user.lastName"/>
    </div>
    <div class="form-group">
        <label id="lblDateOfBirth" class="control-label" for="txtUserDateOfBirth">Date of Birth:</label>
        <input id="txtUserDateOfBirth" name="txtUserDateOfBirth" class="form-control" type="date"
               ng-model="user.dateOfBirth"/>
    </div>
    <div class="form-group">
        <label id="lblAddress1" class="control-label" for="txtUserAddress1">Address 1:</label>
        <input id="txtUserAddress1" name="txtUserAddress1" class="form-control" type="text"
               ng-model="user.address1"/>
    </div>
    <div class="form-group">
        <label id="lblAddress2" class="control-label" for="txtUserAddress2">Address 2:</label>
        <input id="txtUserAddress2" name="txtUserAddress2" class="form-control" type="text"
               ng-model="user.address2"/>
    </div>
    <div class="form-group">
        <label id="lblAddress3" class="control-label" for="txtUserAddress3">Address 3:</label>
        <input id="txtUserAddress3" name="txtUserAddress3" class="form-control" type="text"
               ng-model="user.address3"/>
    </div>
    <div class="form-group">
        <label id="lblAddress4" class="control-label" for="txtUserAddress4">Address 4:</label>
        <input id="txtUserAddress4" name="txtUserAddress4" class="form-control" type="text"
               ng-model="user.address4"/>
    </div>
    <div class="form-group">
        <label id="lblCity" class="control-label" for="txtUserCity">City:</label>
        <input id="txtUserCity" name="txtUserCity" class="form-control" type="text"
               ng-model="user.city"/>
    </div>
    <div>
        <label id="lblCounty" class="control-label" for="txtUserCounty">County:</label>
        <input id="txtUserCounty" name="txtUserCounty" class="form-control" type="text"
               ng-model="user.county"/>
    </div>
    <br/>
</form>