<div>
    <h2>Users
        <button type="button" ng-click="userController.newUser()" tooltip="New">New User</button>
    </h2>
    <ul>
        <li ng-show="userController.user.userName !== undefined">

            <label>User name:
                <input type="text"
                       ng-model="userController.user.userName" focus-on="startEdit"/>
            </label>

            <label>Password:
                <input type="password"
                       ng-model="userController.user.password" focus-on="startEdit"/>
            </label>

            <label>First name:
                <input type="text"
                       ng-model="userController.user.firstName" focus-on="startEdit"/>
            </label>
            <label>Last name:
                <input type="text"
                       ng-model="userController.user.lastName" focus-on="startEdit"/>
            </label>

            <label>Date of Birth:
                <input type="date"
                       ng-model="userController.user.dateOfBirth" focus-on="startEdit"/>
            </label>

            <label>Address 1:
                <input type="text"
                       ng-model="userController.address.address1" focus-on="startEdit"/>
            </label>
            <label>Address 2:
                <input type="text"
                       ng-model="userController.address.address2" focus-on="startEdit"/>
            </label>
            <label>Address 3:
                <input type="text"
                       ng-model="userController.address.address3" focus-on="startEdit"/>
            </label>
            <label>Address 4:
                <input type="text"
                       ng-model="userController.address.address4" focus-on="startEdit"/>
            </label>
            <label>County:
                <input type="text"
                       ng-model="userController.address.county" focus-on="startEdit"/>
            </label>
            <label>City:
                <input type="text"
                       ng-model="userController.address.city" focus-on="startEdit"/>
            </label>

			<span>
				<button ng-click="userController.save()" class="btn btn-xs btn-default">Save
                </button>
				<button ng-click="userController.cancel()" class="btn btn-xs btn-default">Cancel
                </button>
			</span>
        </li>
        <!--<li ng-repeat="user in users" class="list-group-item">-->
        <!--&lt;!&ndash;<div ng-show="user != userController.current">&ndash;&gt;-->
        <!--<div>-->
        <!--{{user.userName}}-->
        <!--{{user.firstName}}-->
        <!--{{user.lastName}}-->
        <!--<span class="badge" style="float: right">-->
        <!--<button ng-click="userController.edit(user, $event)" class="btn btn-xs btn-default">-->
        <!--<span class="glyphicon glyphicon-edit" tooltip="Edit"></span>-->
        <!--</button>-->
        <!--<button ng-click="userController.remove(user)" class="btn btn-xs btn-default">-->
        <!--<span class="glyphicon glyphicon-trash" tooltip="Remove"></span>-->
        <!--</button>-->
        <!--</span>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div ng-show="user == userController.current">&ndash;&gt;-->
        <!--<div>-->
        <!--<input class="form-control input-sm input-edit" type="text" ng-enter="userController.save()" ng-model="user.userName" focus-on="startEdit"/>-->
        <!--<span class="badge">-->
        <!--<button ng-click="userController.save()" class="btn btn-xs btn-default">-->
        <!--<span class="glyphicon glyphicon-ok"></span>-->
        <!--</button>-->
        <!--<button ng-click="userController.cancel()" class="btn btn-xs btn-default">-->
        <!--<span class="glyphicon glyphicon-remove"></span>-->
        <!--</button>-->
        <!--</span>-->
        <!--</div>-->
        <!--</li>-->
    </ul>
    <ul>
        <!--<li ng-class="{disabled:userController.currentPage==0}">-->
        <!--<span ng-click="userController.previousPage()"></span>-->
        <!--</li>-->
        <!--<li ng-class="{disabled:userController.currentPage+1>=userController.pages}">-->
        <!--<span href="#" ng-click="userController.nextPage()"></span>-->
        <!--</li>-->
    </ul>
</div>