<link href="../../css/moneyTracker.css" rel="stylesheet">
<div class="dataupload-list">
    <h2>Users
		<span class="btn-group" style="float: right; margin-top: 8px">
		<button type="button" class="btn btn-default btn-sm" ng-click="userController.newUser()"
                tooltip="New">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
		</span>
    </h2>
    <ul class="list-group">
        <li class="list-group-item"
            ng-show="userController.current.users_user_name !== undefined">
            <input class="form-control input-sm input-edit"
                   type="text" ng-enter="userController.save()"
                   ng-model="userController.current.users_user_name" focus-on="startEdit"/>
			<span class="badge input-badge">
				<button ng-click="userController.save()" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
				<button ng-click="userController.cancel()" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
			</span>
        </li>
        <li ng-repeat="user in users" class="list-group-item">
            <div ng-show="user != userController.current">
                {{user.users_user_name}}
				<span class="badge" style="float: right">
					<button ng-click="userController.edit(dataUpload, $event)" class="btn btn-xs btn-default">
                        <span class="glyphicon glyphicon-edit" tooltip="Edit"></span>
                    </button>
					<button ng-click="userController.remove(dataUpload)" class="btn btn-xs btn-default">
                        <span class="glyphicon glyphicon-trash" tooltip="Remove"></span>
                    </button>
				</span>
            </div>
            <div ng-show="user == userController.current">
                <input class="form-control input-sm input-edit"
                       type="text" ng-enter="userController.save()"
                       ng-model="user.users_user_name" focus-on="startEdit"/>
				<span class="badge">
					<button ng-click="userController.save()" class="btn btn-xs btn-default">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
					<button ng-click="userController.cancel()" class="btn btn-xs btn-default">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
				</span>
            </div>
        </li>
    </ul>
    <ul class="pagination pagination-sm">
        <li ng-class="{disabled:userController.currentPage==0}">
            <span ng-click="userController.previousPage()" class="glyphicon glyphicon-backward"></span>
        </li>
        <li ng-class="{disabled:userController.currentPage+1>=userController.pages}">
            <span href="#" ng-click="userController.nextPage()" class="glyphicon glyphicon-forward"></span>
        </li>
    </ul>
</div>