<form id="currencyAddForm" name="currencyAddForm" role="form" autocomplete="off" ng-submit="addCurrency()">
    <div class="form-group">
        <label id="lblCurrencyISO" class="control-label" for="txtCurrencyISO">Currency ISO:</label>
        <input id="txtCurrencyISO" name="txtCurrencyISO" class="form-control" type="text" required
               ng-model="currencyController.currency.iso"/>
    </div>
    <div class="form-group">
        <label id="lblCurrencyName" class="control-label" for="txtCurrencyName">Currency Name:</label>
        <input id="txtCurrencyName" name="txtCurrencyName" class="form-control" type="text" required
               ng-model="currencyController.currency.name"/>
    </div>

    <div class="btn-group">
		<span>
			<button ng-disabled="currencyAddForm.$invalid" id="btnSave" name="btnSave"
                    ng-click="currencyController.addCurrency()"
                    class="btn btn-success" type="submit">Save
            </button>
    		<button id="btnCancel" name="btnCancel" ng-click="currencyController.cancel()" class="btn btn-danger">
                Cancel
            </button>
		</span>
    </div>
</form>