<form id="userForm" name="userForm" role="form" autocomplete="off">
    <h2>Data Uploads</h2>

    <div class="form-group">
        <label id="lblDescription" class="control-label" for="txtDescription">First name:</label>
        <input id="txtDescription" name="txtDescription" class="form-control" type="text"
               ng-model="userController.user.firstName"/>
    </div>

	<span class="btn-group">
	    <button id="btnNewDataUpload" name="btnNewDataUpload" class="btn btn-success"
                ng-click="dataUploadController.newDataUpload()" tooltip="New Data Upload">
            <span class="glyphicon glyphicon-plus"></span> New Data Upload
        </button>
	</span>
</form>